.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #1e1d1d;
}
.Heading{
    font-size: 2rem;
    font-weight: bold;
    color: white;
}
