.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    height: 100vh;
    background-color: #1e1d1d;
    top:10px;
}
.Heading{
    font-size: 32px;
    font-weight: bold;
    color: white;
}
.sub-title{
    font-size: 18px;
    color: gray;
    margin-top: -5px;
}