.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1e1e1e;
    height: 100vh;
    width: 100vw;
    padding-top: 50px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    top:10px;
}
.Heading{
    font-size: 32px;
    font-weight: bold;
    color: white;
}
.sub-title{
    font-size: 18px;
    color: gray;
    margin-top: -5px;
}
.emoji-grid{
    border:solid #87cded;
    margin-top: 20px;
    padding:30px;
    padding-left: 40px;
    padding-right: 40px;
    display: grid;
    border-radius: 10px;
    background-color: #c4eff0;
}
.controls-container{
    margin-top: 20px;
    background-color: #c4eff0;
}