.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1e1e1e;
    height: 100vh;
    width: 100vw;
    padding-top: 50px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    top:10px;
}
.Heading{
    font-size: 32px;
    font-weight: bold;
    color: white;
}
.sub-title{
    font-size: 18px;
    color: gray;
    margin-top: -5px;
}
.emoji-grid{
    border:solid #87cded;
    margin-top: 20px;
    height:120px;
    width:120px;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #c4eff0;
}
.controls-container{
    margin-top: 20px;
    font-size: 10px;
    font-family: cursive;
    display: flex;
    
    padding: 10px;
    height: auto;
    width: 300px;
    
}
.left-controls{
    display: flex;
    flex-direction: column;
    
    left: 10px;
    position: absolute;
    justify-content: left;
    border:#192126 solid;
    background-color: #f9fbfb;
    border-radius:9px;
    gap: 5px;
    padding: 10px;
}
.right-controls{
    display: flex;
    flex-direction: column;
    position: absolute;
    right:10px;
    border:#192126 solid;
    background-color: #f9fbfb;
    border-radius:9px;
    gap: 5px;
    padding: 10px;
}
.